@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Use esta página para detalhar a política de privacidade do site da sua empresa.</p>
<p>Todos os dados inseridos neste sistema são de propriedade da <strong>TechAsset Manager</strong> e protegidos conforme a LGPD.</p>